## Deliverable 3. Create a Travel Itinerary Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
sys.path.append('..')
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,weather Description,Lat,Lng,Hotel Name
0,2,Mar Del Plata,AR,75.22,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,4,Arraial Do Cabo,BR,73.36,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
2,6,Pangai,TO,82.51,few clouds,-19.8000,-174.3500,Ha'apai Beach Resort
3,7,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Keleti Beach Resort
4,9,Coihaique,CL,66.81,scattered clouds,-45.5752,-72.0662,Diego De Almagro Coyhaique

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Bastrop",:]
vacation_end = vacation_df.loc[vacation_df["City"]=="Bastrop",:]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Russell",:]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Moultrie",:] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Valdosta",:]

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start[["Lat", "Lng"]].to_numpy()
start1 = (start[0][0],start[0][1])
end = vacation_end[["Lat", "Lng"]].to_numpy()
end1 = (end[0][0],end[0][1])
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()
stop1u = (stop1[0][0],stop1[0][1])
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()
stop2u = (stop2[0][0],stop2[0][1])
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()
stop3u = (stop3[0][0],stop3[0][1])
print(start1)
print(end1)
print(stop1u)
print(stop2u)
print(type(stop3u))

(32.7562, -91.8724)
(32.7562, -91.8724)
(32.3502, -85.1999)
(31.1799, -83.7891)
<class 'tuple'>

In [19]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
waypoints = [stop1u, stop2u, stop3u]

fig = gmaps.figure()
Vacation_itinerary = gmaps.directions_layer(start1, end1, waypoints=waypoints,travel_mode='DRIVING', show_markers=True)
fig.add_layer(Vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,weather Description,Lat,Lng,Hotel Name
0,33,Bastrop,US,68.43,clear sky,32.7562,-91.8724,Best Budget Inn
1,33,Bastrop,US,68.43,clear sky,32.7562,-91.8724,Best Budget Inn
2,118,Russell,US,63.97,clear sky,32.3502,-85.1999,Macs
3,96,Moultrie,US,64.38,clear sky,31.1799,-83.7891,Moultrie Inn
4,145,Valdosta,US,64.69,clear sky,30.8327,-83.2785,Courtyard by Marriott Valdosta

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{weather Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))